body {
    background-color:  rgb(36, 32, 41);;
}
.wrapper {
    font-family: monospace;
    color:white;
}

input[type="submit"] {
    font-family: monospace;
    border: 0px;
    border-radius: 4px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}
    
.cpanel-section-title {
    padding: 0.5rem;
    font-size: 1rem;
}
  
.DNSrecord {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr min-content min-content;
    margin: 1rem;
    background-color: rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 3px;
  }
  
  .Menu {
    margin: 1rem;
    width: fit-content;
    height: fit-content;
  }
  
  input[type="submit"]{
    margin-left: 5px;
    background-color: rgba(255,255,255,0.1);
    color: white;
  }
  
  input[type="submit"]:hover {
    cursor: pointer;
    animation-duration: 100ms;
    background-color: rgba(255,255,255,0.2);
  }
  
  a:hover {
    cursor: pointer;
    animation-duration: 100ms;
    background-color: rgba(255,255,255,0.2);
    font-size: 1.02rem;
    margin: 0.28rem;
  }
  
a {
    font-size: 0.8rem;
    margin: 0.5rem;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
    color: white;
}
  
a:visited {
    color: white;
}


.DNSrecord_list {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    margin: 1rem;
    background-color: rgba(0,0,0,0.1);
    padding: 1rem;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.05);
    padding: 5px;
    padding-bottom: 0px;
}

.DNSrecord_list_value_title{
    margin-bottom: 5px;
}

.DNSRecord_description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.DNSrecord_list_section {
    display: inline-block;
    background-color: rgba(255,255,255,0.05);
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px;
    padding-left: 8px;
}


textarea {
    width: calc(100% - 2rem);
    margin: 1rem;
    height: 6rem;
    color: white;
    background-color: rgba(0,0,0,0);
}

input[type="text"] {
    color: white;
    background-color: rgba(0,0,0,0);
    margin-bottom: 5px;
}

.description {
    grid-area: description;
}

.token {
    grid-area: token;
}

.tokenValue{
    display: inline-block;
    color: yellowgreen;
    width: fit-content;
    padding: 10px;
    margin: 5px;
    background-color: rgba(255,255,255,0.05); 
}


.tokenMeta {
    display: inline-block;
}
.tokenUserDisplay {
    display: inline-block;
    color: greenyellow;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.tokenDate{
    display: inline-block;
}

.submit{
    grid-area: submit;
}

.DNS_AuthoritySection, .manageTokenSection {
    margin: 5px;;
    border: 1px solid white;
    padding: 10px;
}

.DNS_AuthorityUpdateForm > form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.DNS_AuthorityUpdateForm > form > input[type="submit"] {
    width: fit-content;
    margin: 6px;
}

.tokenPermissionSection {
    display: grid;
    grid-template-columns: max-content max-content max-content;
}

.bind9ServerStatus_OK {
    background-color: green;
    padding-left: 5px;
    padding-right: 5px;
}

.bind9ServerStatus_FAILED {
    background-color: red;
    padding-left: 5px;
    padding-right: 5px;
}

.bind9ServerStatus_UNKNOWN {
    background-color: orange;
    padding-left: 5px;
    padding-right: 5px;
}

.smallDisclaimer {
    font-size: 0.7rem;
    color: gray;
    padding-left: 1rem;
}

.Menu > form:hover {
    font-size: 1.02rem;
    margin: 0.28rem;
}

.Menu > form {
    display: inline-block;
}

.Menu > a {
    display: inline-block;
}

.largerTextBox {
    width: 20em;
}

/* .content form {
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-template: "description description" "token token"  "submit submit";
} */