<?php



$CONFIG = array(
    //Enable user limit
    "EnableMaxUsers" => true,
    //Enable allowed user count
    "AllowedUserCount" => "1",
    //Bind9 Default zone config file so it can configure new zones and read the existing ones!
    //note that this file needs to be writable by www-data (web server user) and readable by bind9
    "ZoneConfigFile" = "/etc/bind/named.conf.local"
);